@charset "UTF-8";

body {

    margin: 0;
    background-color: #f4f0e5;
    font-family: Tahoma;
}

div.cabecalho {
    text-align: center;
    margin: 20px auto;
}


p > a {
    margin: 0 10px;

    color:rgba(115, 77, 27, 0.767) ; 

    font-size: 1.1em;
}

h1, h2 {
    text-align: center;
}

h2#historico {
    color:rgb(158, 103, 32) ; 
}

p.descricao {
    text-align: center;
    color:rgba(158, 103, 32, 0.823) ;
    font-weight: bold;
    font-size: 1.3em;
}

div > img {

    text-align: center;

    margin: 20px auto;
}

strong {
    color: black;
}

.secao {

    text-align: center;
    margin: 20px auto;
    width: 700px;
}

.produtos { 

    background-color: #de8e37;
    color: #fff;
    text-align: center;
}