@charset "UTF-8";


body { 

    margin: 0px;
    background-color: #f4f0e5;
    font-family: Tahoma;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
}

div.cabecalho {
    text-align: center;
    margin: 5px auto;

}


p > a {
    margin: 0 10px;

    color:rgba(115, 77, 27, 0.767) ; 

    font-size: 1.1em;
}

div.teste {

    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid rgba(115, 77, 27, 0.767);
}

h1, h2 {
    text-align: center;
}

h2#historico {
    color:rgb(158, 103, 32) ; 
}

p.descricao {
    text-align: center;
    color:rgba(158, 103, 32, 0.823) ;
    font-weight: bold;
    font-size: 1.2em;
}

div > img {

    text-align: center;

    margin: 20px auto;
}

strong {
    color: black;
}

.secao {

    text-align: center;
    margin: 20px auto;
    width: 700px;
}
    

.produtos { 

    background-color: #de8e37;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin: 1px 50px 1px 50px;

}

.produtos-destaque {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #de8e37;
    color: #fff;
    text-align: center;
}

.produtos > h3 {

    font-size: 1.4em;
}

.produtos > h4 {

    font-size: 1.2em;

}

.produtos > p {

    font-size: 1.1em;

}

.contato {
    text-align: center;
}

div.contato > h3 {
    font-size: 1.3em;
}

div.local {

    text-align: center;
}

div.local > h3 {
    font-size: 1.3em;
}